apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: commit-helm-changes
  namespace: lmw-fitness
spec:
  params:
    - name: HELM_FILE
      type: string
      description: "Path to the Helm chart file to commit"
    - name: GITHUB_HELM_URL
      type: string
      description: "URL of the Helm chart repository"
    - name: COMMIT_MESSAGE
      type: string
      description: "The commit message for the Helm chart update"
  steps:
    - name: commit-helm-changes
      image: alpine/git
      workingDir: $(workspaces.helm-chart.path)
      script: |
        #!/bin/sh
        set -e     
        
        git config --global user.email "laura@enterpriseautomation.co.uk"
        git config --global user.name "laurawarren88"

        cp /workspace/git-credentials/.git-credentials ~/.git-credentials
        cp /workspace/git-credentials/.gitconfig ~/.gitconfig

        echo "Contents of .git-credentials:"
        cat ~/.git-credentials

        git config --global --list
        git config --global credential.helper store
        cd $(workspaces.helm-chart.path)

        git add $(params.HELM_FILE)
        git commit -m "$(params.COMMIT_MESSAGE)"
        git push $(params.GITHUB_HELM_URL)
  workspaces:
    - name: helm-chart
    - name: git-credentials 